name: Actualizaci贸n Divisas

on:
  schedule:
    # Se ejecuta cada 4 horas
    - cron: "0 */4 * * *"
  workflow_dispatch: # Permite ejecuci贸n manual desde GitHub

jobs:
  actualizar:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repositorio
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          playwright install chromium

      - name: Ejecutar Extracci贸n y Actualizaci贸n
        run: |
          python main.py

      - name: Commit and Push changes
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add Almacenamiento/divisas.db datos.json
          git commit -m "Automated update: Divisas data e index.html [skip ci]" || echo "No changes to commit"
          git pull --rebase origin main || git pull origin main
          git push
